<div class="row">
	<div class="well col-lg-12">
		<%= link_to 'Users', users_path, :class => "btn btn-primary" %>
	</div>
	<div class="well col-lg-12">
		<%= link_to 'Roles', roles_path, :class => "btn btn-primary" %>
	</div>
</div>
