<p id="notice"><%= notice %></p>

<h1>Roles</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
    </tr>
  </thead>

  <tbody>
    <% @roles.each do |role| %>
      <tr>
        <td><%= role.try(:title) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @roles, list_classes: %w(pagination justify-content-end) %>
<br>

<%= link_to 'New Role', new_role_path %>
